body{
  text-align: center;
  background-color: #F6E7D8;
}

#level-title{
  font-family: 'Press Start 2P',cursive;
  font-size: 4rem;
  margin: 4%;
  color: #874356;
}

.container{
  display: block;
  width: 50%;
  margin: auto;
}

.btn{
  margin: 15px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 30%;
}

.game-over{
  background-color: #BB6464;
  opacity: 0.8;
}

.red {
  background-color: #B33030;
}

.green {
  background-color: #91C483;
}

.blue {
  background-color: #548CFF;
}

.yellow {
  background-color: #F1D00A;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
